body {
	padding-top: 50px;
	overflow: hidden;
}
.centered {
	padding: 40px 15px;
	text-align: center;
}

.afternav {
	padding: 20px 15px;
}

.centerdata {
	text-align: center;
}

canvas {
	display: block;
}